
.container {
    margin: auto 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-evenly;
}

.grid-item {
}
.grid-item img {
    max-width: 400px;
}
